.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}

img.atp {
  width: 200px;
  margin: auto;
}

.mail {
  font-family: arial;
  font-size: 40px;
  padding: 0 3px;
}

.uc {
  text-transform: uppercase;
}

.h1 {
  font-family: "TeX Gyre Heros Cn", serif;
  line-height: 55px;
  font-size: 50px;
  font-weight: 500;
  margin: 16px auto;
}

.wrapper {
  width: 100%;
  position: relative;
  border-top: 2px solid black;
  visibility: hidden;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

a {
  color: #000;
  word-break: break-all;
}

a:hover {
  color: red;
}