/* Layout */

body{
  padding: 0 40px;
  }


@media (max-width: 600px){
  body{
    padding: 0 20px;
    }
  }

.grid {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  text-align: center;
  }

/* Images */

img.atp {
  width: 250px;
  margin: auto;
}

@media (max-width: 600px){
  img.atp {
    width: 200px;
    }
  }

/* Text */

@font-face {
    font-family: 'tex_gyre_heros_cnregular';
    src: url('../type/texgyreheroscn-regular-webfont.woff2') format('woff2'),
         url('../type/texgyreheroscn-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text {
  font-family: 'tex_gyre_heros_cnregular', serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  text-transform: uppercase;
}

@media (max-width: 600px){
    .text {
      font-size: 40px;
      line-height: 45px;
    }
}

@media (max-width: 400px){
    .text {
      font-size: 30px;
      line-height: 35px;
    }
}

a {
  color: #000;
  text-decoration: none;
  font-size: 50px;

  }
a:hover {
  color: red;
}