html{
  font-size: 18px;
  line-height: 1.44em;
  font-family: 'Inter', sans-serif;
  font-feature-settings: "case", "calt";
  font-weight: 400;
  color: black;

}

h1, h2, h3, h4, h5, p, ul, li, a, blockquote {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .bold{
  font-weight: 600;
}

p, ul, li, a, blockquote {
  font-weight: 400;
}

cite{
  font-family: 'Arapey', monospace;
  font-size: 16px;
  display: block;
  opacity: 0.7;
}

small{
  display: block;
  font-size: 15px;
  line-height: 1.1rem;
}

/* Links */

a, a:link {
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  color: black;
  background-image: -webkit-linear-gradient(top, transparent 90%, #ccc 0, #ccc 100%, transparent 0);
}

a:hover {
  color: red;
}

nav ul li{
  list-style: none;
}


time{
  font-style: normal;
}

/* Hanging or offset punctuation */

ul.intentions li{
  list-style: none;
}

ul.intentions li:before {
    content: '\25AC';
    position: absolute;
    margin-left: -1.6rem;
    margin-top: -0.1rem;
    color: #999;
}


blockquote:before {
    content: '\201C';
    position: absolute;
    margin-left: -0.45em; 
}
blockquote:after {
    content: '\201D';
}

.tel:before{
  content:"+";
  position: absolute;
  margin-left: -0.7em;
}

/*.shift{
  vertical-align: text-bottom;
}*/

.br-dt::before{
  content: "\a";
  white-space: pre;
}

@media screen and (max-width: 450px) {
  .br-dt::before{
    content: "";
  }
}



